/* /Users/shin-junwoo/슈퍼코딩/코드 설명/250806/src/components/Payments/Expenses.css */

/* 'expenses' 클래스를 가진 요소에 적용될 스타일입니다. */
/* Expenses.js 컴포넌트에서 전체 지출 목록을 감싸는 Card 컴포넌트에 이 클래스가 적용됩니다. */
.expenses {
  /* 카드 내부의 콘텐츠와 테두리 사이에 1rem의 안쪽 여백을 줍니다. */
  padding: 1rem;
  /* 카드의 배경색을 'beige'(베이지색)로 설정합니다. */
  background-color: beige;
  /* 바깥쪽 여백을 설정합니다. 위아래는 2rem, 좌우는 'auto'로 설정됩니다. */
  /* 좌우 여백을 'auto'로 주면, 해당 요소가 부모 컨테이너 안에서 수평으로 중앙 정렬됩니다. */
  margin: 2rem auto;
  /* 요소의 너비를 50rem으로 고정합니다. */
  width: 50rem;
  /* 반응형 디자인을 위한 중요한 속성입니다. */
  /* 화면(뷰포트)의 너비가 좁아져 50rem보다 작아질 경우, 요소의 너비가 화면의 95%를 넘지 않도록 제한합니다. */
  /* 이렇게 하면 작은 화면에서도 가로 스크롤이 생기는 것을 방지할 수 있습니다. */
  max-width: 95%;
}
